{% extends 'base.html' %}
{% block title %} New Email {% endblock %}
{% block main %}
</div>
<div style="width:auto">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Addemail</legend>
			<div class="form-group">
				{% if form.name.errors %}
					{{ form.name(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.name.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.name.label(class="form-control-label") }}
					{{ form.name(class="form-control form-control-lg") }}
					{{ form.email.label(class="form-control-label") }}   
					{{ form.email(class="form-control form-control-lg") }}
				{% endif %}
			</div>
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
	</form>
</div>
{% endblock %}